.App {
  background-color: rgb(10, 4, 54);
  color: aliceblue;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.slot_number-app{
    display: flex;
    width: 100%;
    text-align: center;
}
.slot_number {
  border: 17px solid red;
  border-radius: 6px;
  width: 27%;
  font-size: 160px;
  margin: 10px;
  text-align: center;
  padding: auto;
}
.title {

  font-family: "Exo", sans-serif;
  font-size: 60px;
  text-align: center;
}

.run{

  width: 400px;
  border: 14px solid red;
  border-radius: 6px;
  padding: 15px;
  color: rgb(10, 4, 54);
  margin-left: 25px;
  margin-top: 30px;


}